<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Location</th>
  </tr>
  <% for eatery in @eateries %>
  <tr>
    <td><%= eatery.name %></td>
    <td>|</td>
    <td> <img src=" <%= eatery.image %> "> </td>
  </tr>
  <% end %>
</table>