<h1>Add a new Eatery!</h1>

<form method="post" action="/eateries">
  <label for="name">Name:</label>
  <input id="name" type="text" name="name" />
  <br/>
  <label for="image">Image URL:</label>
  <input id="image" type="text" name="image" />
  <br/>
  <input type="submit" value="Add New Eatery"/>
</form>