<h1>Add a new Menu Item!</h1>

<form method="post" action="/menu_items">
  <label for="eatery_id">Select Eatery:</label>
  <select name="eatery_id">
    <% for eatery in @eateries %>
    <option value="<%= eatery.id %>"><%= eatery.name %></option>
    <% end %>
    </select>
  <br/>
  <label for="burger_id">Select Eatery:</label>
  <select name="burger_id">
    <% for burger in @burgers %>
    <option value="<%= burger.id %>"><%= burger.name %></option>
    <% end %>
    </select>
  <br/>
  <label for="price">Price £:</label>
  <input id="price" type="text" name="price" />
  <br/>
  <input type="submit" value="Add to Menu"/>
</form>