<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Type</th>
  </tr>
  <% for burger in @burgers %>
  <tr>
    <td><%= burger.name %></td>
    <td>|</td>
    <td> <img src=" <%= burger.image %> " > </td>
  </tr>
  <% end %>
</table>